.idea
*.deb
*.jpg
.vagrant
media/

jdk-8u291-linux-x64.tar.gz
hbase-2.4.8-bin.tar.gz
hbase-2.4.8/
thrift-0.14.2.tar.gz
thrift-0.14.2

local_settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
